---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import marsImage from "~/assets/mars.png";
import Starfield from "~/components/Starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div
        class="font-nasalization p-5 text-centre font-semibold tracking-tighter text-4xl"
      >
        We are,
        <br />

        <Icon name="splash" class="py-4 px-2 h-15" />
        <h4>A Mars rover team from,</h4>
        St Joseph Engineering college Mangaluru
      </div>
    </h2>
    <div
      id="astronaut"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Picture
        decoding={'async'}
        aspectRatio={1/1}
        background={'aliceblue'}
        class="object-cover w-full h-full"
        src={marsImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>